application:
  actions: actions
  web: web-src
  runtimeManifest:
    packages:
      EDS-Asset-Tracker1:
        license: Apache-2.0
        actions:
          fetchMetadata:
            function: actions/fetchMetadata/index.js
            web: 'yes'
            runtime: nodejs:18
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: true
              final: true
          fetchList:
            function: actions/fetchList/index.js
            web: 'yes'
            runtime: nodejs:18
            inputs:
              LOG_LEVEL: debug
              apiKey: $SERVICE_API_KEY
            annotations:
              require-adobe-auth: true
              final: true
